@import "mixins/_breakpoints";

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

a:hover,
a {
  text-decoration: none
}

:focus {
  outline: 0
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  font-family: 'Gilroy';
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  color: #130F67;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 32px;
  margin: 0 auto;

  &--small {
    max-width: 864px;
  }

  @include breakpoint($maxWidth: 767px) {
    padding: 0 15px;
  }
}

h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 30px;

  @include breakpoint($maxWidth: 767px) {
    font-size: 28px;
    margin-bottom: 20px;
  }

  &.left {
    text-align: left;
  }

  &.white {
    color: #fff;
  }
}

h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #221B96;
  margin-bottom: 22px;
}

.title-small {
  max-width: 864px;
  margin: 0 auto 52px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #1D55C2;
  margin-bottom: 52px;
  display: block;
  text-align: center;

  &.color-1 {
    color: #BDCBFB;
  }

  @include breakpoint($maxWidth: 767px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.top-header {
  padding: 20px 0;
  position: relative;

  @include breakpoint($maxWidth: 992px) {
    display: none;
  }

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #33219C 0%, #33219F 50.05%, #33219C 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  // .top-header__content

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  // .top-header__text

  &__text {

    font-size: 18px;
    color: #BDCBFB;
    font-weight: 400;

    span {
      font-weight: 500;
      font-size: 24px;
      margin: 5px 0;
    }
  }
}

.read-link {
  margin-left: 24px;


  a {
    color: #FA8970;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    position: relative;
    bottom: -3px;
    margin-left: 10px;
  }
}

.burger {
  position: relative;
  display: none;
  width: 42px;
  height: 29px;
  cursor: pointer;
  z-index: 111;
  margin-left: 20px;
  margin-left: 25px;
  margin-right: 5px;

  &.open {
    margin-top: 8px;

    &:before {
      background: #fff;
      transform: rotate(-45deg);
      top: 8px;
      height: 4px;
    }

    &:after {
      background: #fff;
      top: 8px;
      transform: rotate(45deg);
      height: 4px;
    }

    span {
      &:before {
        display: none;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 42px;
    height: 2px;
    background: #FA8970;
    transition: 0.5s;
    border-radius: 2px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 42px;
    height: 2px;
    background: #FA8970;
    transition: 0.5s;
    border-radius: 2px;
  }

  span {
    position: relative;
    display: block;
    width: 42px;
    height: 29px;

    &:before {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      width: 42px;
      height: 2px;
      background: #FA8970;
      border-radius: 2px;
    }
  }


  @include breakpoint($maxWidth: 992px) {
    display: block;
  }
}

.main-header {
  padding: 30px 0;
  position: relative;

  @include breakpoint($maxWidth: 992px) {
    padding: 14px 0;
  }

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #33219C 0%, #33219F 50.05%, #33219C 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  // .main-header__content

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  // .main-header__left

  &__left {
    display: flex;
    align-items: center;
  }

  // .main-header__right

  &__right {
    display: flex;
    align-items: center;

    @include breakpoint($maxWidth: 992px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .btn {
      @include breakpoint($maxWidth: 992px) {
        order: -1;
        width: 100%;
        margin: 0 0 50px 0;
        background-color: #FA8970;
        height: 70px;

        &:hover {
          border-color: #FF8165;
          background-color: #FF8165;
        }

        &:active {
          border-color: #E97551;
          background-color: #E97551;
        }
      }
    }
  }
}

.logo {
  margin-right: 64px;

  img {
    @include breakpoint($maxWidth: 1200px) {
      width: 150px;
    }
  }

  @include breakpoint($maxWidth: 1200px) {
    margin-right: 30px;
  }
}

.main-menu {
  @include breakpoint($maxWidth: 992px) {
    display: none;
    width: calc(100% - 50px);
    height: 100vh;
    background: #1D55C2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    padding-top: 74px;
    padding-left: 50px;
    padding: 70px 22px 22px 22px;
  }

  &.open {
    display: block;
  }

  ul {
    display: flex;

    @include breakpoint($maxWidth: 992px) {
      flex-direction: column;
    }

    li {
      margin-right: 50px;
      position: relative;
      padding: 17px 0;

      @include breakpoint($maxWidth: 1200px) {
        margin-right: 20px;
      }

      @include breakpoint($maxWidth: 992px) {
        margin: 0 0 50px 28px;
        padding: 0;
      }

      @include breakpoint($minWidth: 993px) {
        &:hover {
          .submenu {
            display: flex;
          }
  
          .opener {
            &:before {
              transform: rotate(0);
            }
          }
        }
      }
      @include breakpoint($maxWidth: 374px) {
        margin-bottom: 20px;
       
      }
      &.active{
        .submenu {
          display: flex;
        }

        .opener {
          text-decoration: underline;
          color: #fff;
          &:before {
            transform: rotate(0) !important;
          }
        }
      }

      a {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #BDCBFB;

        &:hover {
          text-decoration: underline;
          color: #fff;
        }

        &.opener {
          &:after {
            content: "";
            position: absolute;
            width: 70px;
            height: 60px;
            top: 0%;
            left: 0;
          }

          &:before {
            content: "";
            background: url(../images/menu-arrow.svg);
            width: 14px;
            height: 8px;
            position: absolute;
            right: -24px;
            top: 8px;
            transform: rotate(-180deg);
            transition: 0.5s;
          }
        }
      }
    }
  }

  .submenu {
    position: absolute;
    display: none;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #2E50A7;
    border-radius: 10px;
    padding: 36px 24px;
    min-width: 145px;
    top: 100%;
    left: 0;

    @include breakpoint($maxWidth: 992px) {
      border: 0;
      background: transparent;
      border-radius: 0;
    position: relative;
      top: 0;
      padding: 50px 0 0 35px;
    }

   

    li {
      padding: 0;
      margin: 0 0 22px 0;
    
      @include breakpoint($maxWidth: 992px) {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      @include breakpoint($maxWidth: 374px) {
      margin-bottom: 20px;
    }
      a {
        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.language {
  display: flex;
  margin-right: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #BDCBFB;

  @include breakpoint($maxWidth: 1200px) {
    margin-right: 20px;
  }

  span {
    margin: 0 10px;

    &.current {
      text-decoration-line: underline;
    }

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;

      &:hover {
        text-decoration: underline;
      }

      color: #BDCBFB;
    }
  }
}















.cases {
  padding: 145px 0;
  background: radial-gradient(393.39% 103.28% at 50% -3.28%, #311F99 18.02%, #211173 78.01%);

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0;
  }
}


.title-text {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #A1C7FF;
  width: 100%;
  max-width: 780px;
  margin: 0 auto 72px;

  &.dark {
    color: #1D55C2;
  }
}


.case {
  width: 100%;
  height: 650px;
  position: relative;
  margin-bottom: 56px;

  &.color-1 {
    .case__image {
      background: #FF9892;
      border: 1px solid #FF9892;
    }

    .case__image-bg {
      background: #FF9892;
    }

    .blur-bg {
      background: #FF9892;
    }

    .case__image &:hover {
      border: 1px solid #FF9892;
    }
  }

  &.color-2 {
    .case__image {
      background: #5090DC;
      border: 1px solid #5090DC;
    }

    .case__image-bg {
      background: #5090DC;
    }

    .blur-bg {
      background: #5090DC;
    }

    .case__image &:hover {
      border: 1px solid #5090DC;
    }
  }

  &.color-3 {
    .case__image {
      background: #69BF96;
      border: 1px solid #69BF96;
    }

    .case__image-bg {
      background: #69BF96;
    }

    .blur-bg {
      background: #69BF96;
    }

    .case__image &:hover {
      border: 1px solid #69BF96;
    }
  }

  &.color-4 {
    .case__image {
      background: #747FE4;

      border: 1px solid #747FE4;

    }

    .case__image-bg {
      background: #747FE4;

    }

    .blur-bg {
      background: #747FE4;

    }

    .case__image {
      &:hover {
        border: 1px solid #747FE4;

      }
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    padding: 36px;
    background: rgba(57, 104, 148, 0.25);
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 100px #31369C;
    // backdrop-filter: blur(200px);
    border-radius: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    position: relative;
    z-index: 9;
    overflow: hidden;
  }

  &:hover {
    .case__image-bg {
      transform: rotate(11.52deg);
      opacity: 1;
      right: -43px;
      top: 20px;
    }

    .case__image {
      background: transparent;


    }

    .blur-bg {

      // filter: blur(200px);
      opacity: 1;
    }
  }

  // .case__info


  &__info {
    padding-left: 40px;
    padding-right: 80px;
    max-width: 685px;
    position: relative;
    z-index: 9;
  }

  // .case__title

  &__title {
    font-weight: bold;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
    display: block;
    margin-bottom: 30px;
  }

  // .case__links

  &__links {
    display: flex;
    margin-bottom: 30px;

    a {
      margin-right: 34px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-decoration-line: underline;
      color: #FFBAAB;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // .case__video

  &__video {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #A2C7FF;
    display: flex;
    align-items: center;

  }

  &__sep {
    width: 48px;
    height: 2px;
    background: #FA8970;
    margin: 0 22px;
  }

  &__play {
    width: 84px;
    height: 84px;
    background: radial-gradient(49% 49% at 51% 50%, #F1624F 19.27%, #FA8A70 100%);
    box-shadow: 0px 10px 40px -5px rgba(0, 23, 69, 0.26), inset 0px 0px 20px #FAAA70, inset 0px -6.91304px 9.21739px rgba(250, 178, 112, 0.81);
    border-radius: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    img {
      transition: 0.5s;
    }

    &:hover {
      background: radial-gradient(49% 49% at 51% 50%, #F1624F 70.34%, #FF491F 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81);
    }

    &:active {
      background: radial-gradient(50% 50% at 50% 50%, #E9523F 70.34%, #FF491F 90.42%, #FE9800 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81);
    }
  }

  .blur-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 550px;
    height: 650px;
    display: none;
    border-radius: 70px;
    opacity: 0;
    transition: 0.5s;
    z-index: 5
  }

  // .case__image
  &__image-bg {
    position: absolute;
    top: 36px;
    right: 36px;
    width: 575px;
    height: 575px;
    min-width: 575px;

    mix-blend-mode: normal;
    border-radius: 44px;
    display: flex;
    transition: 0.5s;
    z-index: 0;
    opacity: 0;
  }

  &__image {
    position: relative;
    z-index: 9999;
    width: 575px;
    height: 575px;
    min-width: 575px;
    display: flex;
    mix-blend-mode: normal;
    border-radius: 44px;
    transition: 0.5s;
    align-items: center;
    justify-content: flex-end;

    img {

      height: calc(100% - 120px);
      width: calc(100% - 54px);
    }

    &.center {
      align-items: flex-end;
      justify-content: center;

      img {
        height: 515px;
        width: auto;
        object-fit: contain;
      }
    }
  }

  &__btn {
    padding-top: 30px;
  }
}

.btn-center {
  display: flex;
  justify-content: center;
}

.btn {
  border: 2px solid #FA8970;
  box-sizing: border-box;
  border-radius: 100px;
  height: 62px;
  padding: 0 34px;
  font-weight: bold;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
  transition: 0.5s;
  justify-content: center;

  &:hover {
    border-color: #FA8970;
    background-color: #FA8970;
  }

  &:active {
    border-color: #E97551;
    background-color: #E97551;
  }

  &--small {
    height: 54px;
  }

  &--min-width {
    min-width: 184px;
  }

  &--lg {
    height: 76px;
    font-size: 20px;
    padding: 0 42px;
  }

  &--empty {
    color: #130F67;
    border-color: #FF8165;

    &:hover {
      color: #fff;
    }
  }

  &--white-empty {
    border-color: #fff;
    color: #fff;

    &:hover {
      border-color: #FF8165;
      background-color: #FF8165;
    }

    &:active {
      border-color: #E97551;
      background-color: #E97551;
    }
  }

  &--orange {
    background-color: #FA8970;

    &:hover {
      border-color: #FF8165;
      background-color: #FF8165;
    }

    &:active {
      border-color: #E97551;
      background-color: #E97551;
    }
  }


}

.about-section {
  padding: 60px 0 135px 0;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .col {
      width: 268px;
    }
  }

  // .about__left

  &__left {
    width: 586px;

  }

  // .about__info

  &__info {
    width: calc(100% - 686px);
  }

  // .about__title

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    color: #221B96;
    margin-bottom: 22px;
    display: block;
  }

  // .about__small-text

  &__small-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #1D55C2;
    margin-bottom: 32px;
    display: block;
  }

  p, li {
    font-size: 18px;
    line-height: 150%;
    color: #130F67;
  }

  p {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul.listed {
    padding-left: 2em;

    li {
      margin-bottom: 18px;

      &:before {
        content: "\2022";
        color: #221B96;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__date {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 30px;
    color: #1D55C2;
  }

  &__results {

    ul {
      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;

        &:before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #221B96;
          left: 0;
          position: absolute;
          top: 9px;
        }

        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 150%;
          text-decoration-line: underline;
          color: #4D70CA;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}


.about-item {
  background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFBFC;
  border: 1px solid #D8DFED;
  box-sizing: border-box;
  border-radius: 50px;
  width: 268px;
  height: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 0;

  &__icon {
    width: 64px;
    height: 64px;
    margin-bottom: 30px;
    display: block;
  }

  // .about-item__title

  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    color: #130F67;
  }
}

.main-section {
  background: url(../images/main-bg.png) 50% 100% no-repeat;
  width: 100%;
  height: 990px;

  @include breakpoint($maxWidth: 992px) {
    height: auto;
  }
}

.main-section-content {
  position: relative;
  padding-top: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 790px;

  @include breakpoint($maxWidth: 992px) {
    height: auto;
    padding-top: 150px;
    padding-bottom: 70px;
    align-items: center;
  }

  &__image {
    position: absolute;
    right: -240px;
    top: 200px;

    @include breakpoint($maxWidth: 992px) {
      position: relative;
      right: 0;
      top: 0;
      padding-top: 30px;
      margin-bottom: -125px;
    }

    img {
      @include breakpoint($maxWidth: 992px) {
        width: 244px;
      }
    }
  }
}

h1 {
  position: relative;
  z-index: 9;
  font-weight: bold;
  font-size: 72px;
  line-height: 140%;
  margin-bottom: 48px;
  color: #fff;

  @include breakpoint($maxWidth: 992px) {
    font-size: 36px;
    line-height: 144%;
    text-align: center;
  }

  br {
    @include breakpoint($maxWidth: 992px) {
      display: none;
    }
  }

  &.center {
    text-align: center;
    margin-bottom: 0;
  }
}

.second-section {
  padding-top: 245px !important;
  margin-top: -100px !important;
}

.chat-section {
  padding: 145px 0;
  background-color: #fff;

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0;
  }

  &.gradient-bg {
    background: linear-gradient(104.15deg, #F4EDFF 0.38%, #F0F3FF 27.38%, #FFF8F8 78.01%, #EEF2FF 99.27%) !important;
  }
}

.chat {
  max-width: 864px;
  margin: 0 auto;
  width: 100%;
}

.chat-item {
  display: flex;
  margin-bottom: 52px;

  &.online {
    .chat-item__avatar {
      &:before {
        content: "";
        width: 14px;
        height: 14px;
        background: radial-gradient(50% 50% at 50% 50%, #55DBD3 0%, rgba(55, 206, 152, 0.94) 100%);
        border: 2px solid #FFFFFF;
        position: absolute;
        bottom: 5px;
        right: 5px;
        border-radius: 50%;
      }
    }
  }

  // .chat-item__avatar

  &__avatar {
    position: relative;
    width: 78px;
    height: 78px;
    margin-right: 20px;
    position: relative;
    margin-top: 30px;
    min-width: 78px;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid #C4C4C4;
    }
  }

  // .chat-item__text

  &__text {}

  // .chat-item__name

  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    display: block;
    margin-bottom: 10px;
    color: #221B96;
  }

  // .chat-item__message

  &__message {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(79.74deg, #DAD7FF 1.2%, #FDECFF 14.86%, #FEF2FF 22.77%, #FEF8FF 31.74%);
    mix-blend-mode: normal;
    border: 1px solid #DDCDFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(132, 13, 70, 0.08);
    border-radius: 20px 20px 20px 0;
    padding: 10px 30px 10px 30px;
    min-height: 78px;
    font-size: 24px;
    line-height: 150%;
    color: #130F67;

  }
}


.chat-btns {
  display: flex;
  justify-content: flex-end;

  .btn {
    margin-left: 20px;
  }
}

.enters-message {
  display: flex;
  align-items: center;
  padding-left: 14px;
  // .enters-message__avatar
  margin-bottom: 60px;

  &__avatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background: radial-gradient(50% 50% at 50% 50%, #55DBD3 0%, rgba(55, 206, 152, 0.94) 100%);
      border: 2px solid #FFFFFF;
      position: absolute;
      bottom: 5px;
      right: 5px;
      border-radius: 50%;
    }

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid #C4C4C4;
    }
  }

  // .enters-message__text

  &__text {
    font-size: 18px;
    line-height: 150%;
    color: #7472A3;
  }
}

.chat-input {
  width: 864px;
  margin: 0 auto 60px;
  background: #F9F6FB;
  mix-blend-mode: normal;
  border: 2px solid rgba(128, 176, 232, 0.7);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(66, 0, 66, 0.07), inset 0px 8px 8px rgba(68, 0, 90, 0.07);
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;

  input {
    font-family: 'Gilroy';
    width: 100%;
    padding: 0 30px 0 42px;
    font-size: 24px;
    line-height: 150%;
    border: 0;
    color: #A0ADCF;
    background-color: transparent;

    &::placeholder {
      color: #A0ADCF;
    }
  }

  button {
    background: radial-gradient(49% 49% at 51% 50%, #F1624F 19.27%, #FA8A70 100%);
    box-shadow: 0px 9.04762px 9.04762px rgba(97, 46, 0, 0.09), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    min-width: 76px;
    height: 76px;
    border: 0;
    cursor: pointer;

    &:hover {
      background: radial-gradient(49% 49% at 51% 50%, #F1624F 70.34%, #FF491F 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81);
    }

    &:active {
      background: radial-gradient(50% 50% at 50% 50%, #E9523F 70.34%, #FF491F 90.42%, #FE9800 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81);
    }
  }
}

.police-link {
  width: 864px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;

  a {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #4D70CA;

    &:hover {
      text-decoration: none;
    }
  }
}

footer {
  position: relative;
  background: linear-gradient(0deg, rgba(86, 72, 159, 0.16), rgba(86, 72, 159, 0.16)), linear-gradient(90deg, #251481 0%, #271587 50.01%, #251481 100%);

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #33219C 0%, #33219F 50.05%, #33219C 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.footer-content {
  padding: 35px 0;
}

.copy {
  position: relative;
  background: linear-gradient(90deg, #241D4F 0%, #262450 34.08%, #262450 65.62%, #241D4F 100%);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9DB9FF;

  &:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(0deg, rgba(86, 72, 159, 0.16), rgba(86, 72, 159, 0.16)), linear-gradient(90deg, #251481 0%, #271587 50.01%, #251481 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    top: 0;
    left: 0;

  }

  padding: 20px 0;

}

.footer-content {

  // .footer-content__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  // .footer-content__top-right

  &__top-right {
    display: flex;
    align-items: center;
  }

  // .footer-content__middle

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }



  // .footer-content__middle-right

  &__middle-right {
    display: flex;
    align-items: center;

    .btn {
      margin-left: 30px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;

    .language {
      margin: 0;
    }
  }
}

.footer-logo {}

.social {
  display: flex;
  align-items: center;
}

.social-item {
  margin-left: 30px;

  a {
    width: 52px;
    height: 52px;
    border: 3px solid #fff;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    transition: 0.5s;

    &:hover {
      border-color: #FA8970;
    }

    &:active {
      border-color: #FD5F3C;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.clutch {
  height: 52px;
  padding: 0 30px;
  background: #FFFFFF;
  border-radius: 68.2959px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  transition: 0.5s;
  border: 3px solid #fff;

  &:hover {
    border-color: #FA8970;
  }

  &:active {
    border-color: #FD5F3C;
  }

}

.footer-menu {
  display: flex;
  align-items: center;

  li {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #BDCBFB;

      &:hover {}
    }
  }
}

.menu-link {
  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #BDCBFB;
  }
}

.inner-section {
  background: url(../images/inner-bg.svg) 50% bottom no-repeat;
  padding-top: 280px;
  padding-bottom: 110px;
  z-index: 9;
  position: relative;

  h1 {
    margin-bottom: 24px;
  }

  .title-small {
    margin-bottom: 52px;
  }

  .btn {
    margin: 0 auto;
  }

  // .inner-section__tags

  &__tags {
    display: flex;
    margin-bottom: 54px;
    justify-content: center;

    span {
      margin-right: 34px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #FFBAAB;

      &:last-child {
        margin-right: 0;
      }
    }
  }


}

.startups-section {
  padding: 145px 0;

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0;
  }
}

.startups {
  max-width: 600px;
  position: relative;

  &__image {
    position: absolute;
    left: 650px;
    top: -150px;
  }

  ul {
    margin-bottom: 14px;

    li {
      position: relative;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #221B96;
      margin-bottom: 18px;
      padding-left: 30px;

      &:before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #221B96;
        position: absolute;
        left: 8px;
        top: 12px;
      }

      span {
        color: #1D55C2;
      }
    }


  }

  p {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 50px;
    color: #1D55C2;
  }

  &__btns {
    display: flex;

    .btn {
      margin-right: 28px;
    }
  }
}

.developer-quote-section {
  padding: 112px 0 144px 0;
  background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF;
}

.developer {
  margin-bottom: 50px;
  // .developer__main

  &__main {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  // .developer__avatar

  &__avatar {
    width: 78px;
    height: 78px;
    display: block;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  // .developer__name

  &__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1D55C2;

    span {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      color: #221B96;
    }
  }

  &__text {
    padding: 35px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.79), rgba(255, 255, 255, 0.79)), linear-gradient(79.57deg, rgba(134, 186, 223, 0.7) 0.67%, rgba(207, 230, 240, 0.7) 2.1%, rgba(218, 237, 241, 0.7) 3.46%, rgba(255, 255, 255, 0.7) 6.4%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 4px rgba(40, 107, 186, 0.12);
    border-radius: 0 20px 20px 20px;
    width: calc(100% - 98px);
    margin-left: 98px;

    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      color: #130F67;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: #1D55C2;
      }
    }
  }
}

.about-section {
  padding: 145px 0;

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0;
  }

  &.blue-bg {
    background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF;

  }
}

.about {
  display: flex;
  align-items: flex-start;

  // .about__image

  &__image {
    width: 50%;
    height: 440px;
    border-radius: 44px;
    overflow: hidden;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--case &__image {
    width: calc(100%/2 + 50px);
    border-radius: 0;
    height: auto;
  }

  // .about__info

  &__info {
    width: calc(100%/2 - 100px);

    p {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 20px;
      color: #130F67;

      span {
        color: #1D55C2;
      }
    }
  }

  // .about__bottom

  &__bottom {
    display: flex;
    align-items: center;
    padding-top: 30px;

    .btn {
      margin-right: 50px;
    }
  }
}

.clear-payment-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FA8970;

  .icon {
    position: relative;
    bottom: -3px;
    margin-left: 5px;
  }

}

.get-started {
  padding: 145px 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0;
  }

  // .get-started__title

  &__title {
    font-weight: bold;
    font-size: 48px;
    color: #221B96;
    margin-right: 20px;
  }

  .btn {
    margin-left: 20px;
  }
}




.tabs-section {
  padding-top: 145px;

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0 0 0;
  }

  &--case {
    padding-top: 70px;
    padding-bottom: 60px;

    .tabs {
      margin-bottom: 0;
    }
  }
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;

  li {
    margin: 0 24px;
  }

  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    color: #130F67;
    border-bottom: 1px solid transparent;

    span.icon {
      margin-right: 15px;
    }

    &:hover,
    &.active {
      border-bottom: 1px solid #FA8970;
    }
  }
}

.tabgroup {
  .tab-section {}
}

.work-modal {
  padding: 145px 0;
  background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF;

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0;
  }

  p {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
    color: #130F67;

    &::last-child {
      margin-bottom: 0;
    }
  }

}


.development-product {
  padding: 145px 0;

  @include breakpoint($maxWidth: 767px) {
    padding: 45px 0;
  }
}

.process {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__left {
    position: relative;
    width: 50%;
    height: 553px;
    margin-bottom: 10px;

    @include breakpoint($maxWidth: 1024px) {
      height: 513px;
    }

    @include breakpoint($maxWidth: 767px) {
      order: 2;
      width: 100%;
      height: auto;
    }

    &:before {
      content: "";
      background: url(../images/process-disc.png) 0 0 no-repeat;
      width: 573px;
      height: 553px;
      position: absolute;
      right: -287px;
      top: 0;

      @include breakpoint($maxWidth: 1024px) {
        background: url(../images/process-disc2.png) 0 0 no-repeat;
        width: 429px;
        height: 513px;
        right: -215px;
      }

      @include breakpoint($maxWidth: 767px) {
        display: none;
      }
    }
  }

  &__right {
    position: relative;
    width: 50%;

    @include breakpoint($maxWidth: 767px) {
      order: 0;
      width: 100%;
      height: auto;
    }
  }
}

.process-item {
  @include breakpoint($maxWidth: 767px) {
    text-align: center !important;
    width: 100%;
    margin-bottom: 30px;
  }

  // .process-item__images

  &__images {
    display: none;

    @include breakpoint($maxWidth: 767px) {
      display: block;
      order: 3;
    }
  }

  // .process-item__title

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #221B96;
    margin-bottom: 10px;
    display: block;


  }

  p {
    font-size: 18px;
    line-height: 150%;
    color: #130F67;

    @include breakpoint($maxWidth: 992px) {
      line-height: 20px;
      font-size: 16px;
    }

    @include breakpoint($maxWidth: 767px) {
      max-width: 100% !important;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 150%;

    }

  }

  &.process-item-1 {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;

    @include breakpoint($maxWidth: 767px) {
      order: -1;
    }

    p {
      max-width: 490px;
      margin: 0 auto;
    }
  }

  &.process-item-2 {
    position: absolute;
    top: 85px;
    left: 290px;

    @include breakpoint($maxWidth: 1024px) {
      top: 76px;
      left: 220px;
    }

    @include breakpoint($maxWidth: 767px) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    p {
      max-width: 360px;
    }
  }

  &.process-item-3 {
    position: absolute;
    top: 325px;
    left: 300px;

    @include breakpoint($maxWidth: 1024px) {
      top: 322px;
      left: 205px;
    }

    @include breakpoint($maxWidth: 767px) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    p {
      max-width: 360px;
    }
  }

  &.process-item-4 {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;

    @include breakpoint($maxWidth: 767px) {
      order: 1;
    }

    p {
      max-width: 490px;
      margin: 0 auto;
    }
  }

  &.process-item-5 {
    text-align: right;
    position: absolute;
    top: 325px;
    right: 290px;

    @include breakpoint($maxWidth: 1024px) {
      top: 316px;
      right: 200px;
    }

    @include breakpoint($maxWidth: 767px) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    p {
      max-width: 360px;
    }
  }

  &.process-item-6 {
    position: absolute;
    top: 85px;
    right: 290px;
    text-align: right;

    @include breakpoint($maxWidth: 1024px) {
      top: 76px;
      right: 213px;
    }

    @include breakpoint($maxWidth: 767px) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    p {
      max-width: 360px;
    }
  }
}

.process-time {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  padding-top: 72px;
  text-align: center;
  color: #1D55C2;
  display: block;

  @include breakpoint($maxWidth: 767px) {
    padding-top: 30px;
  }
}

.img-section {
  img {
    width: 100%;;
  }
}

.case-about-project-section {
  padding: 144px 0;
  background: radial-gradient(73.93% 94.57% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF;

  .title-small {
    margin-bottom: 0;
    text-align: left;
  }
}

.case-cooperation-section {
  padding: 144px 0;
  background: radial-gradient(73.93% 94.57% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF;  
}

.ridestore-start-section {
  padding: 144px 0 550px;
  background: radial-gradient(73.93% 94.57% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), url(../images/ridestore-img-3.jpg) 50% bottom no-repeat;
}

.ridestore-tech-section {
  background: url(../images/ridestore-img-5.jpg) 50% 50% no-repeat;
  color: white;
}