@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:hover,
a {
  text-decoration: none; }

:focus {
  outline: 0; }

ul {
  list-style-type: none; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Gilroy';
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  color: #130F67;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  font-weight: 400;
  overflow-x: hidden; }

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 32px;
  margin: 0 auto; }
  .container--small {
    max-width: 864px; }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px; } }

h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    h2 {
      font-size: 28px;
      margin-bottom: 20px; } }
  h2.left {
    text-align: left; }
  h2.white {
    color: #fff; }

h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #221B96;
  margin-bottom: 22px; }

.title-small {
  max-width: 864px;
  margin: 0 auto 52px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #1D55C2;
  margin-bottom: 52px;
  display: block;
  text-align: center; }
  .title-small.color-1 {
    color: #BDCBFB; }
  @media (max-width: 767px) {
    .title-small {
      font-size: 24px;
      margin-bottom: 20px; } }

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%; }

.top-header {
  padding: 20px 0;
  position: relative; }
  @media (max-width: 992px) {
    .top-header {
      display: none; } }
  .top-header:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #33219C 0%, #33219F 50.05%, #33219C 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    bottom: 0;
    left: 0; }
  .top-header__content {
    display: flex;
    justify-content: flex-end; }
  .top-header__text {
    font-size: 18px;
    color: #BDCBFB;
    font-weight: 400; }
    .top-header__text span {
      font-weight: 500;
      font-size: 24px;
      margin: 5px 0; }

.read-link {
  margin-left: 24px; }
  .read-link a {
    color: #FA8970;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center; }
    .read-link a:hover {
      text-decoration: underline; }
  .read-link .icon {
    position: relative;
    bottom: -3px;
    margin-left: 10px; }

.burger {
  position: relative;
  display: none;
  width: 42px;
  height: 29px;
  cursor: pointer;
  z-index: 111;
  margin-left: 20px;
  margin-left: 25px;
  margin-right: 5px; }
  .burger.open {
    margin-top: 8px; }
    .burger.open:before {
      background: #fff;
      transform: rotate(-45deg);
      top: 8px;
      height: 4px; }
    .burger.open:after {
      background: #fff;
      top: 8px;
      transform: rotate(45deg);
      height: 4px; }
    .burger.open span:before {
      display: none; }
  .burger:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 42px;
    height: 2px;
    background: #FA8970;
    transition: 0.5s;
    border-radius: 2px; }
  .burger:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 42px;
    height: 2px;
    background: #FA8970;
    transition: 0.5s;
    border-radius: 2px; }
  .burger span {
    position: relative;
    display: block;
    width: 42px;
    height: 29px; }
    .burger span:before {
      content: "";
      position: absolute;
      top: 14px;
      left: 0;
      width: 42px;
      height: 2px;
      background: #FA8970;
      border-radius: 2px; }
  @media (max-width: 992px) {
    .burger {
      display: block; } }

.main-header {
  padding: 30px 0;
  position: relative; }
  @media (max-width: 992px) {
    .main-header {
      padding: 14px 0; } }
  .main-header:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #33219C 0%, #33219F 50.05%, #33219C 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    bottom: 0;
    left: 0; }
  .main-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-header__left {
    display: flex;
    align-items: center; }
  .main-header__right {
    display: flex;
    align-items: center; }
    @media (max-width: 992px) {
      .main-header__right {
        flex-direction: column;
        align-items: flex-start; } }
    @media (max-width: 992px) {
      .main-header__right .btn {
        order: -1;
        width: 100%;
        margin: 0 0 50px 0;
        background-color: #FA8970;
        height: 70px; }
        .main-header__right .btn:hover {
          border-color: #FF8165;
          background-color: #FF8165; }
        .main-header__right .btn:active {
          border-color: #E97551;
          background-color: #E97551; } }

.logo {
  margin-right: 64px; }
  @media (max-width: 1200px) {
    .logo img {
      width: 150px; } }
  @media (max-width: 1200px) {
    .logo {
      margin-right: 30px; } }

@media (max-width: 992px) {
  .main-menu {
    display: none;
    width: calc(100% - 50px);
    height: 100vh;
    background: #1D55C2;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    padding-top: 74px;
    padding-left: 50px;
    padding: 70px 22px 22px 22px; } }

.main-menu.open {
  display: block; }

.main-menu ul {
  display: flex; }
  @media (max-width: 992px) {
    .main-menu ul {
      flex-direction: column; } }
  .main-menu ul li {
    margin-right: 50px;
    position: relative;
    padding: 17px 0; }
    @media (max-width: 1200px) {
      .main-menu ul li {
        margin-right: 20px; } }
    @media (max-width: 992px) {
      .main-menu ul li {
        margin: 0 0 50px 28px;
        padding: 0; } }
    @media (min-width: 993px) {
      .main-menu ul li:hover .submenu {
        display: flex; }
      .main-menu ul li:hover .opener:before {
        transform: rotate(0); } }
    @media (max-width: 374px) {
      .main-menu ul li {
        margin-bottom: 20px; } }
    .main-menu ul li.active .submenu {
      display: flex; }
    .main-menu ul li.active .opener {
      text-decoration: underline;
      color: #fff; }
      .main-menu ul li.active .opener:before {
        transform: rotate(0) !important; }
    .main-menu ul li a {
      position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #BDCBFB; }
      .main-menu ul li a:hover {
        text-decoration: underline;
        color: #fff; }
      .main-menu ul li a.opener:after {
        content: "";
        position: absolute;
        width: 70px;
        height: 60px;
        top: 0%;
        left: 0; }
      .main-menu ul li a.opener:before {
        content: "";
        background: url(../images/menu-arrow.svg);
        width: 14px;
        height: 8px;
        position: absolute;
        right: -24px;
        top: 8px;
        transform: rotate(-180deg);
        transition: 0.5s; }

.main-menu .submenu {
  position: absolute;
  display: none;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #2E50A7;
  border-radius: 10px;
  padding: 36px 24px;
  min-width: 145px;
  top: 100%;
  left: 0; }
  @media (max-width: 992px) {
    .main-menu .submenu {
      border: 0;
      background: transparent;
      border-radius: 0;
      position: relative;
      top: 0;
      padding: 50px 0 0 35px; } }
  .main-menu .submenu li {
    padding: 0;
    margin: 0 0 22px 0; }
    @media (max-width: 992px) {
      .main-menu .submenu li {
        margin-bottom: 40px; }
        .main-menu .submenu li:last-child {
          margin-bottom: 0; } }
    @media (max-width: 374px) {
      .main-menu .submenu li {
        margin-bottom: 20px; } }
    .main-menu .submenu li a:hover {
      text-decoration: underline; }
    .main-menu .submenu li:last-child {
      margin-bottom: 0; }

.language {
  display: flex;
  margin-right: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #BDCBFB; }
  @media (max-width: 1200px) {
    .language {
      margin-right: 20px; } }
  .language span {
    margin: 0 10px; }
    .language span.current {
      text-decoration-line: underline; }
    .language span a {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #BDCBFB; }
      .language span a:hover {
        text-decoration: underline; }

.cases {
  padding: 145px 0;
  background: radial-gradient(393.39% 103.28% at 50% -3.28%, #311F99 18.02%, #211173 78.01%); }
  @media (max-width: 767px) {
    .cases {
      padding: 45px 0; } }

.title-text {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #A1C7FF;
  width: 100%;
  max-width: 780px;
  margin: 0 auto 72px; }
  .title-text.dark {
    color: #1D55C2; }

.case {
  width: 100%;
  height: 650px;
  position: relative;
  margin-bottom: 56px; }
  .case.color-1 .case__image {
    background: #FF9892;
    border: 1px solid #FF9892; }
  .case.color-1 .case__image-bg {
    background: #FF9892; }
  .case.color-1 .blur-bg {
    background: #FF9892; }
  .case__image .case.color-1:hover {
    border: 1px solid #FF9892; }
  .case.color-2 .case__image {
    background: #5090DC;
    border: 1px solid #5090DC; }
  .case.color-2 .case__image-bg {
    background: #5090DC; }
  .case.color-2 .blur-bg {
    background: #5090DC; }
  .case__image .case.color-2:hover {
    border: 1px solid #5090DC; }
  .case.color-3 .case__image {
    background: #69BF96;
    border: 1px solid #69BF96; }
  .case.color-3 .case__image-bg {
    background: #69BF96; }
  .case.color-3 .blur-bg {
    background: #69BF96; }
  .case__image .case.color-3:hover {
    border: 1px solid #69BF96; }
  .case.color-4 .case__image {
    background: #747FE4;
    border: 1px solid #747FE4; }
  .case.color-4 .case__image-bg {
    background: #747FE4; }
  .case.color-4 .blur-bg {
    background: #747FE4; }
  .case.color-4 .case__image:hover {
    border: 1px solid #747FE4; }
  .case__bg {
    width: 100%;
    height: 100%;
    padding: 36px;
    background: rgba(57, 104, 148, 0.25);
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 100px #31369C;
    border-radius: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    position: relative;
    z-index: 9;
    overflow: hidden; }
  .case:hover .case__image-bg {
    transform: rotate(11.52deg);
    opacity: 1;
    right: -43px;
    top: 20px; }
  .case:hover .case__image {
    background: transparent; }
  .case:hover .blur-bg {
    opacity: 1; }
  .case__info {
    padding-left: 40px;
    padding-right: 80px;
    max-width: 685px;
    position: relative;
    z-index: 9; }
  .case__title {
    font-weight: bold;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
    display: block;
    margin-bottom: 30px; }
  .case__links {
    display: flex;
    margin-bottom: 30px; }
    .case__links a {
      margin-right: 34px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      text-decoration-line: underline;
      color: #FFBAAB; }
      .case__links a:hover {
        text-decoration: none; }
  .case__video {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #A2C7FF;
    display: flex;
    align-items: center; }
  .case__sep {
    width: 48px;
    height: 2px;
    background: #FA8970;
    margin: 0 22px; }
  .case__play {
    width: 84px;
    height: 84px;
    background: radial-gradient(49% 49% at 51% 50%, #F1624F 19.27%, #FA8A70 100%);
    box-shadow: 0px 10px 40px -5px rgba(0, 23, 69, 0.26), inset 0px 0px 20px #FAAA70, inset 0px -6.91304px 9.21739px rgba(250, 178, 112, 0.81);
    border-radius: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s; }
    .case__play img {
      transition: 0.5s; }
    .case__play:hover {
      background: radial-gradient(49% 49% at 51% 50%, #F1624F 70.34%, #FF491F 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81); }
    .case__play:active {
      background: radial-gradient(50% 50% at 50% 50%, #E9523F 70.34%, #FF491F 90.42%, #FE9800 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81); }
  .case .blur-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 550px;
    height: 650px;
    display: none;
    border-radius: 70px;
    opacity: 0;
    transition: 0.5s;
    z-index: 5; }
  .case__image-bg {
    position: absolute;
    top: 36px;
    right: 36px;
    width: 575px;
    height: 575px;
    min-width: 575px;
    mix-blend-mode: normal;
    border-radius: 44px;
    display: flex;
    transition: 0.5s;
    z-index: 0;
    opacity: 0; }
  .case__image {
    position: relative;
    z-index: 9999;
    width: 575px;
    height: 575px;
    min-width: 575px;
    display: flex;
    mix-blend-mode: normal;
    border-radius: 44px;
    transition: 0.5s;
    align-items: center;
    justify-content: flex-end; }
    .case__image img {
      height: calc(100% - 120px);
      width: calc(100% - 54px); }
    .case__image.center {
      align-items: flex-end;
      justify-content: center; }
      .case__image.center img {
        height: 515px;
        width: auto;
        object-fit: contain; }
  .case__btn {
    padding-top: 30px; }

.btn-center {
  display: flex;
  justify-content: center; }

.btn {
  border: 2px solid #FA8970;
  box-sizing: border-box;
  border-radius: 100px;
  height: 62px;
  padding: 0 34px;
  font-weight: bold;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
  transition: 0.5s;
  justify-content: center; }
  .btn:hover {
    border-color: #FA8970;
    background-color: #FA8970; }
  .btn:active {
    border-color: #E97551;
    background-color: #E97551; }
  .btn--small {
    height: 54px; }
  .btn--min-width {
    min-width: 184px; }
  .btn--lg {
    height: 76px;
    font-size: 20px;
    padding: 0 42px; }
  .btn--empty {
    color: #130F67;
    border-color: #FF8165; }
    .btn--empty:hover {
      color: #fff; }
  .btn--white-empty {
    border-color: #fff;
    color: #fff; }
    .btn--white-empty:hover {
      border-color: #FF8165;
      background-color: #FF8165; }
    .btn--white-empty:active {
      border-color: #E97551;
      background-color: #E97551; }
  .btn--orange {
    background-color: #FA8970; }
    .btn--orange:hover {
      border-color: #FF8165;
      background-color: #FF8165; }
    .btn--orange:active {
      border-color: #E97551;
      background-color: #E97551; }

.about-section {
  padding: 60px 0 135px 0; }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .about .row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .about .row .col {
      width: 268px; }
  .about__left {
    width: 586px; }
  .about__info {
    width: calc(100% - 686px); }
  .about__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    color: #221B96;
    margin-bottom: 22px;
    display: block; }
  .about__small-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #1D55C2;
    margin-bottom: 32px;
    display: block; }
  .about p, .about li {
    font-size: 18px;
    line-height: 150%;
    color: #130F67; }
  .about p {
    margin-bottom: 18px; }
    .about p:last-child {
      margin-bottom: 0; }
  .about ul.listed {
    padding-left: 2em; }
    .about ul.listed li {
      margin-bottom: 18px; }
      .about ul.listed li:before {
        content: "\2022";
        color: #221B96;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em; }
      .about ul.listed li:last-child {
        margin-bottom: 0; }
  .about__date {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 30px;
    color: #1D55C2; }
  .about__results ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px; }
    .about__results ul li:before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #221B96;
      left: 0;
      position: absolute;
      top: 9px; }
    .about__results ul li a {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-decoration-line: underline;
      color: #4D70CA; }
      .about__results ul li a:hover {
        text-decoration: none; }

.about-item {
  background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFBFC;
  border: 1px solid #D8DFED;
  box-sizing: border-box;
  border-radius: 50px;
  width: 268px;
  height: 268px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 0; }
  .about-item__icon {
    width: 64px;
    height: 64px;
    margin-bottom: 30px;
    display: block; }
  .about-item__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;
    color: #130F67; }

.main-section {
  background: url(../images/main-bg.png) 50% 100% no-repeat;
  width: 100%;
  height: 990px; }
  @media (max-width: 992px) {
    .main-section {
      height: auto; } }

.main-section-content {
  position: relative;
  padding-top: 194px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 790px; }
  @media (max-width: 992px) {
    .main-section-content {
      height: auto;
      padding-top: 150px;
      padding-bottom: 70px;
      align-items: center; } }
  .main-section-content__image {
    position: absolute;
    right: -240px;
    top: 200px; }
    @media (max-width: 992px) {
      .main-section-content__image {
        position: relative;
        right: 0;
        top: 0;
        padding-top: 30px;
        margin-bottom: -125px; } }
    @media (max-width: 992px) {
      .main-section-content__image img {
        width: 244px; } }

h1 {
  position: relative;
  z-index: 9;
  font-weight: bold;
  font-size: 72px;
  line-height: 140%;
  margin-bottom: 48px;
  color: #fff; }
  @media (max-width: 992px) {
    h1 {
      font-size: 36px;
      line-height: 144%;
      text-align: center; } }
  @media (max-width: 992px) {
    h1 br {
      display: none; } }
  h1.center {
    text-align: center;
    margin-bottom: 0; }

.second-section {
  padding-top: 245px !important;
  margin-top: -100px !important; }

.chat-section {
  padding: 145px 0;
  background-color: #fff; }
  @media (max-width: 767px) {
    .chat-section {
      padding: 45px 0; } }
  .chat-section.gradient-bg {
    background: linear-gradient(104.15deg, #F4EDFF 0.38%, #F0F3FF 27.38%, #FFF8F8 78.01%, #EEF2FF 99.27%) !important; }

.chat {
  max-width: 864px;
  margin: 0 auto;
  width: 100%; }

.chat-item {
  display: flex;
  margin-bottom: 52px; }
  .chat-item.online .chat-item__avatar:before {
    content: "";
    width: 14px;
    height: 14px;
    background: radial-gradient(50% 50% at 50% 50%, #55DBD3 0%, rgba(55, 206, 152, 0.94) 100%);
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 50%; }
  .chat-item__avatar {
    position: relative;
    width: 78px;
    height: 78px;
    margin-right: 20px;
    position: relative;
    margin-top: 30px;
    min-width: 78px; }
    .chat-item__avatar img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid #C4C4C4; }
  .chat-item__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    display: block;
    margin-bottom: 10px;
    color: #221B96; }
  .chat-item__message {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(79.74deg, #DAD7FF 1.2%, #FDECFF 14.86%, #FEF2FF 22.77%, #FEF8FF 31.74%);
    mix-blend-mode: normal;
    border: 1px solid #DDCDFF;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(132, 13, 70, 0.08);
    border-radius: 20px 20px 20px 0;
    padding: 10px 30px 10px 30px;
    min-height: 78px;
    font-size: 24px;
    line-height: 150%;
    color: #130F67; }

.chat-btns {
  display: flex;
  justify-content: flex-end; }
  .chat-btns .btn {
    margin-left: 20px; }

.enters-message {
  display: flex;
  align-items: center;
  padding-left: 14px;
  margin-bottom: 60px; }
  .enters-message__avatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative; }
    .enters-message__avatar:before {
      content: "";
      width: 10px;
      height: 10px;
      background: radial-gradient(50% 50% at 50% 50%, #55DBD3 0%, rgba(55, 206, 152, 0.94) 100%);
      border: 2px solid #FFFFFF;
      position: absolute;
      bottom: 5px;
      right: 5px;
      border-radius: 50%; }
    .enters-message__avatar img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid #C4C4C4; }
  .enters-message__text {
    font-size: 18px;
    line-height: 150%;
    color: #7472A3; }

.chat-input {
  width: 864px;
  margin: 0 auto 60px;
  background: #F9F6FB;
  mix-blend-mode: normal;
  border: 2px solid rgba(128, 176, 232, 0.7);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(66, 0, 66, 0.07), inset 0px 8px 8px rgba(68, 0, 90, 0.07);
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px; }
  .chat-input input {
    font-family: 'Gilroy';
    width: 100%;
    padding: 0 30px 0 42px;
    font-size: 24px;
    line-height: 150%;
    border: 0;
    color: #A0ADCF;
    background-color: transparent; }
    .chat-input input::placeholder {
      color: #A0ADCF; }
  .chat-input button {
    background: radial-gradient(49% 49% at 51% 50%, #F1624F 19.27%, #FA8A70 100%);
    box-shadow: 0px 9.04762px 9.04762px rgba(97, 46, 0, 0.09), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    min-width: 76px;
    height: 76px;
    border: 0;
    cursor: pointer; }
    .chat-input button:hover {
      background: radial-gradient(49% 49% at 51% 50%, #F1624F 70.34%, #FF491F 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81); }
    .chat-input button:active {
      background: radial-gradient(50% 50% at 50% 50%, #E9523F 70.34%, #FF491F 90.42%, #FE9800 100%);
      box-shadow: 0px 0px 40px rgba(0, 23, 69, 0.26), inset 0px 6.25466px 22.9337px #FAAA70, inset 0px -6.25466px 8.33954px rgba(250, 178, 112, 0.81); }

.police-link {
  width: 864px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; }
  .police-link a {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #4D70CA; }
    .police-link a:hover {
      text-decoration: none; }

footer {
  position: relative;
  background: linear-gradient(0deg, rgba(86, 72, 159, 0.16), rgba(86, 72, 159, 0.16)), linear-gradient(90deg, #251481 0%, #271587 50.01%, #251481 100%); }
  footer:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #33219C 0%, #33219F 50.05%, #33219C 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    top: 0;
    left: 0; }

.footer-content {
  padding: 35px 0; }

.copy {
  position: relative;
  background: linear-gradient(90deg, #241D4F 0%, #262450 34.08%, #262450 65.62%, #241D4F 100%);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #9DB9FF;
  padding: 20px 0; }
  .copy:before {
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(0deg, rgba(86, 72, 159, 0.16), rgba(86, 72, 159, 0.16)), linear-gradient(90deg, #251481 0%, #271587 50.01%, #251481 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 2px rgba(9, 0, 44, 0.45);
    position: absolute;
    top: 0;
    left: 0; }

.footer-content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px; }

.footer-content__top-right {
  display: flex;
  align-items: center; }

.footer-content__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px; }

.footer-content__middle-right {
  display: flex;
  align-items: center; }
  .footer-content__middle-right .btn {
    margin-left: 30px; }

.footer-content__bottom {
  display: flex;
  justify-content: flex-end; }
  .footer-content__bottom .language {
    margin: 0; }

.social {
  display: flex;
  align-items: center; }

.social-item {
  margin-left: 30px; }
  .social-item a {
    width: 52px;
    height: 52px;
    border: 3px solid #fff;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    transition: 0.5s; }
    .social-item a:hover {
      border-color: #FA8970; }
    .social-item a:active {
      border-color: #FD5F3C; }
    .social-item a img {
      width: 30px;
      height: 30px; }

.clutch {
  height: 52px;
  padding: 0 30px;
  background: #FFFFFF;
  border-radius: 68.2959px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  transition: 0.5s;
  border: 3px solid #fff; }
  .clutch:hover {
    border-color: #FA8970; }
  .clutch:active {
    border-color: #FD5F3C; }

.footer-menu {
  display: flex;
  align-items: center; }
  .footer-menu li {
    margin-right: 50px; }
    .footer-menu li:last-child {
      margin-right: 0; }
    .footer-menu li a {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #BDCBFB; }

.menu-link a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #BDCBFB; }

.inner-section {
  background: url(../images/inner-bg.svg) 50% bottom no-repeat;
  padding-top: 280px;
  padding-bottom: 110px;
  z-index: 9;
  position: relative; }
  .inner-section h1 {
    margin-bottom: 24px; }
  .inner-section .title-small {
    margin-bottom: 52px; }
  .inner-section .btn {
    margin: 0 auto; }
  .inner-section__tags {
    display: flex;
    margin-bottom: 54px;
    justify-content: center; }
    .inner-section__tags span {
      margin-right: 34px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #FFBAAB; }
      .inner-section__tags span:last-child {
        margin-right: 0; }

.startups-section {
  padding: 145px 0; }
  @media (max-width: 767px) {
    .startups-section {
      padding: 45px 0; } }

.startups {
  max-width: 600px;
  position: relative; }
  .startups__image {
    position: absolute;
    left: 650px;
    top: -150px; }
  .startups ul {
    margin-bottom: 14px; }
    .startups ul li {
      position: relative;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      color: #221B96;
      margin-bottom: 18px;
      padding-left: 30px; }
      .startups ul li:before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #221B96;
        position: absolute;
        left: 8px;
        top: 12px; }
      .startups ul li span {
        color: #1D55C2; }
  .startups p {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 50px;
    color: #1D55C2; }
  .startups__btns {
    display: flex; }
    .startups__btns .btn {
      margin-right: 28px; }

.developer-quote-section {
  padding: 112px 0 144px 0;
  background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF; }

.developer {
  margin-bottom: 50px; }
  .developer__main {
    display: flex;
    align-items: center;
    margin-bottom: 25px; }
  .developer__avatar {
    width: 78px;
    height: 78px;
    display: block;
    margin-right: 20px; }
    .developer__avatar img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover; }
  .developer__name {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1D55C2; }
    .developer__name span {
      display: block;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      color: #221B96; }
  .developer__text {
    padding: 35px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.79), rgba(255, 255, 255, 0.79)), linear-gradient(79.57deg, rgba(134, 186, 223, 0.7) 0.67%, rgba(207, 230, 240, 0.7) 2.1%, rgba(218, 237, 241, 0.7) 3.46%, rgba(255, 255, 255, 0.7) 6.4%);
    mix-blend-mode: normal;
    box-shadow: 0px 2px 4px rgba(40, 107, 186, 0.12);
    border-radius: 0 20px 20px 20px;
    width: calc(100% - 98px);
    margin-left: 98px; }
    .developer__text p {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      color: #130F67;
      margin-bottom: 20px; }
      .developer__text p:last-child {
        margin-bottom: 0; }
      .developer__text p span {
        color: #1D55C2; }

.about-section {
  padding: 145px 0; }
  @media (max-width: 767px) {
    .about-section {
      padding: 45px 0; } }
  .about-section.blue-bg {
    background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF; }

.about {
  display: flex;
  align-items: flex-start; }
  .about__image {
    width: 50%;
    height: 440px;
    border-radius: 44px;
    overflow: hidden;
    display: block; }
    .about__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .about--case .about__image {
    width: calc(100%/2 + 50px);
    border-radius: 0;
    height: auto; }
  .about__info {
    width: calc(100%/2 - 100px); }
    .about__info p {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 20px;
      color: #130F67; }
      .about__info p span {
        color: #1D55C2; }
  .about__bottom {
    display: flex;
    align-items: center;
    padding-top: 30px; }
    .about__bottom .btn {
      margin-right: 50px; }

.clear-payment-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FA8970; }
  .clear-payment-link .icon {
    position: relative;
    bottom: -3px;
    margin-left: 5px; }

.get-started {
  padding: 145px 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .get-started {
      padding: 45px 0; } }
  .get-started__title {
    font-weight: bold;
    font-size: 48px;
    color: #221B96;
    margin-right: 20px; }
  .get-started .btn {
    margin-left: 20px; }

.tabs-section {
  padding-top: 145px; }
  @media (max-width: 767px) {
    .tabs-section {
      padding: 45px 0 0 0; } }
  .tabs-section--case {
    padding-top: 70px;
    padding-bottom: 60px; }
    .tabs-section--case .tabs {
      margin-bottom: 0; }

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 72px; }
  .tabs li {
    margin: 0 24px; }
  .tabs a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    color: #130F67;
    border-bottom: 1px solid transparent; }
    .tabs a span.icon {
      margin-right: 15px; }
    .tabs a:hover, .tabs a.active {
      border-bottom: 1px solid #FA8970; }

.work-modal {
  padding: 145px 0;
  background: radial-gradient(62.43% 79.86% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF; }
  @media (max-width: 767px) {
    .work-modal {
      padding: 45px 0; } }
  .work-modal p {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
    color: #130F67; }
    .work-modal p::last-child {
      margin-bottom: 0; }

.development-product {
  padding: 145px 0; }
  @media (max-width: 767px) {
    .development-product {
      padding: 45px 0; } }

.process {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .process__left {
    position: relative;
    width: 50%;
    height: 553px;
    margin-bottom: 10px; }
    @media (max-width: 1024px) {
      .process__left {
        height: 513px; } }
    @media (max-width: 767px) {
      .process__left {
        order: 2;
        width: 100%;
        height: auto; } }
    .process__left:before {
      content: "";
      background: url(../images/process-disc.png) 0 0 no-repeat;
      width: 573px;
      height: 553px;
      position: absolute;
      right: -287px;
      top: 0; }
      @media (max-width: 1024px) {
        .process__left:before {
          background: url(../images/process-disc2.png) 0 0 no-repeat;
          width: 429px;
          height: 513px;
          right: -215px; } }
      @media (max-width: 767px) {
        .process__left:before {
          display: none; } }
  .process__right {
    position: relative;
    width: 50%; }
    @media (max-width: 767px) {
      .process__right {
        order: 0;
        width: 100%;
        height: auto; } }

@media (max-width: 767px) {
  .process-item {
    text-align: center !important;
    width: 100%;
    margin-bottom: 30px; } }

.process-item__images {
  display: none; }
  @media (max-width: 767px) {
    .process-item__images {
      display: block;
      order: 3; } }

.process-item__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #221B96;
  margin-bottom: 10px;
  display: block; }

.process-item p {
  font-size: 18px;
  line-height: 150%;
  color: #130F67; }
  @media (max-width: 992px) {
    .process-item p {
      line-height: 20px;
      font-size: 16px; } }
  @media (max-width: 767px) {
    .process-item p {
      max-width: 100% !important;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 150%; } }

.process-item.process-item-1 {
  text-align: center;
  width: 100%;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .process-item.process-item-1 {
      order: -1; } }
  .process-item.process-item-1 p {
    max-width: 490px;
    margin: 0 auto; }

.process-item.process-item-2 {
  position: absolute;
  top: 85px;
  left: 290px; }
  @media (max-width: 1024px) {
    .process-item.process-item-2 {
      top: 76px;
      left: 220px; } }
  @media (max-width: 767px) {
    .process-item.process-item-2 {
      position: relative;
      top: 0;
      left: 0;
      right: 0; } }
  .process-item.process-item-2 p {
    max-width: 360px; }

.process-item.process-item-3 {
  position: absolute;
  top: 325px;
  left: 300px; }
  @media (max-width: 1024px) {
    .process-item.process-item-3 {
      top: 322px;
      left: 205px; } }
  @media (max-width: 767px) {
    .process-item.process-item-3 {
      position: relative;
      top: 0;
      left: 0;
      right: 0; } }
  .process-item.process-item-3 p {
    max-width: 360px; }

.process-item.process-item-4 {
  text-align: center;
  width: 100%;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .process-item.process-item-4 {
      order: 1; } }
  .process-item.process-item-4 p {
    max-width: 490px;
    margin: 0 auto; }

.process-item.process-item-5 {
  text-align: right;
  position: absolute;
  top: 325px;
  right: 290px; }
  @media (max-width: 1024px) {
    .process-item.process-item-5 {
      top: 316px;
      right: 200px; } }
  @media (max-width: 767px) {
    .process-item.process-item-5 {
      position: relative;
      top: 0;
      left: 0;
      right: 0; } }
  .process-item.process-item-5 p {
    max-width: 360px; }

.process-item.process-item-6 {
  position: absolute;
  top: 85px;
  right: 290px;
  text-align: right; }
  @media (max-width: 1024px) {
    .process-item.process-item-6 {
      top: 76px;
      right: 213px; } }
  @media (max-width: 767px) {
    .process-item.process-item-6 {
      position: relative;
      top: 0;
      left: 0;
      right: 0; } }
  .process-item.process-item-6 p {
    max-width: 360px; }

.process-time {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  padding-top: 72px;
  text-align: center;
  color: #1D55C2;
  display: block; }
  @media (max-width: 767px) {
    .process-time {
      padding-top: 30px; } }

.img-section img {
  width: 100%; }

.case-about-project-section {
  padding: 144px 0;
  background: radial-gradient(73.93% 94.57% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF; }
  .case-about-project-section .title-small {
    margin-bottom: 0;
    text-align: left; }

.case-cooperation-section {
  padding: 144px 0;
  background: radial-gradient(73.93% 94.57% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), #FFFFFF; }

.ridestore-start-section {
  padding: 144px 0 550px;
  background: radial-gradient(73.93% 94.57% at 50% 50%, rgba(235, 244, 255, 0) 0%, rgba(231, 237, 255, 0.28) 53.43%, rgba(164, 184, 255, 0.16) 100%), url(../images/ridestore-img-3.jpg) 50% bottom no-repeat; }

.ridestore-tech-section {
  background: url(../images/ridestore-img-5.jpg) 50% 50% no-repeat;
  color: white; }
